button:not(:disabled) {
    cursor: pointer;
}

button:disabled {
    filter: grayscale(100%);
}

#clickButton {
    /*transform: translateX(45px) translateY(230px);*/
    /*font-size: 220px;*/
    transform: translateY(-20px);
    font-size: 150px;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
}

.buildingButton {
    font-size: 24px;
    width: 330px;
    height: 75px;
    visibility: hidden;
}

#buildingButtons {
    display: flex;
    position: fixed;
    right: 20px;
    top: 115px;
    flex-direction: column;
    gap: 10px;
}

.upgradeButton {
    width: 75px;
    height: 75px;
    visibility: hidden;
}

#upgradeButtons {
    display: flex;
    position: fixed;
    right: 20px;
    top: 20px;
    flex-direction: row;
    gap: 10px;
}

#cookieCount {
    font-size: 54px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

#infoPanel {
    display: none;
    position: absolute;
    border: 1px solid black;
    background-color: lightgray;
    padding: 10px;
    z-index: 1000;
    pointer-events: none;
    max-width: 250px;
}

#infoPanel q {
    display: block;
    text-align: right;
}

#infoPanel q::before {
    content: "\A" open-quote;
    white-space: pre;
}

.upgradePrice {
    display: block;
    text-align: right;
}

.upgradeName {
    display: block;
    transform: translateY(-22px);
    max-width: 150px;
}